.add-board-background {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
}

.add-new-board {
    background: rgba(254, 254, 254, 0.8);
    position: fixed;
    top: 45px;
    border: 1px solid lightgray;
    padding: 20px;
    left: 50%;
    top: 4rem;
    transform: translate(-50%, 0);
    z-index: 1;
    border-radius: 3px;
    .bgc-add-board {
        border-radius: 3px;
    }

    .no-growth {
        &:hover {
            padding: 0;
            margin: 0;
        }
    }
    .add-board-form {
        padding: 15px 0;
        .add-board-title {
            padding-right: 5px;
            font-size: 1.4rem;
            color: $clr2;
        }
        .add-board-input {
            background-color: #fff;
            display: block;
            margin: 0;
            outline: none;
            border: none;
            padding: 5px;
            border-radius: 3px;
            min-width: 75px;
        }
    }
}

.add-new-board-img {
    & > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    @include for-mobile-layout{
        grid-template-columns: 100px 100px 100px;
    }
    grid-template-rows: 100px 100px;
    grid-gap: 0.5rem;
    /* This is the standardized property now, but has slightly less support */
    /* gap: 1rem */
}
