.board-preview{
    .board-preview-image{
        background-position: 50%;
        background-size: cover;
        position: relative;
        height: 12rem;
        border-radius: .1875rem;
        cursor: pointer;
    }
   
    .board-preview-card{
        height: 100%;
        border-radius: .1875rem;
        background: linear-gradient(170deg,#202020,rgba(204,207,213,0) 45%);
        .board-preview-title{
            margin-block-start: 0;
            margin-block-end: 0;
            border: 0;
            color: white;
            margin: 0;
            padding: 5%;
            font-family: Roboto;
            font-weight: 600;
        }
    }

    .board-preview-description{
        height: 5rem;
        font-family: Roboto;
        font-size: 1rem;
    }
}