.card-details-container {
    background-color: #f4f5f7;
    padding: 30px;
    position: fixed;
    border-radius: 3px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
}
.modal-bg {
    position: fixed;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
}

.card-details-btn {
    margin: 4px;
    background-color: #ebecef;
    border: 0;
    border-radius: 3px;
    padding: 6px;
    width: 9rem;
}

.card-details-btn:hover {
    background-color: #e2e4e9;
}

.card-details-btn:focus {
    outline: none;
}

.card-details-btn-desc {
    border: 0px;
    background-color: #ebecef;
    resize: none;
    height: 40px;
}
.card-details-btn-desc:focus {
    background-color: #fff;
    height: 100px;
}
.card-desc-save-btn {
    background-color: #6ea952;
    border-radius: 3px;
    border: 0;
    color: #ebecef;
    font-size: 0.75em;
    padding: 7px;
    width: 4rem;
}

.card-details-activity {
    position: relative;
}
.card-details-activity-textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.card-details-activity-button {
    position: absolute;
    bottom: 0;
    left: 0;
}
