.modal-bg {
    // overflow-y: scroll;
    // // overflow-y: initial !important;
    // position: fixed;
    // background-color: rgba(51, 51, 51, 0.3);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 100vh;
    // width: 100vw;
    // top: 0;
    // right: 0;
    min-height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.64);
    align-items: flex-start;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.card-details-container {
    // background-color: #f4f5f7;
    width: 768px;
    // max-height: 80vh;
    // min-height: 55vh;
    // padding-top: 0;
    // position: fixed;
    // border-radius: 2px;
    // left: 50%;
    // top: 4rem;
    // transform: translate(-50%, 0);
    // z-index: 1;
    // overflow-y: scroll;
    border-radius: 3px;
    min-height: 85vh;
    margin: 50px 0px 80px;
    padding: 16px;
    background-color: #f4f5f7;
    // grid-template-columns: 580px 190px;
    // grid-template-rows: 80px minmax(500px, auto);
    overflow: hidden;
    position: absolute;
    // position: relative;
    z-index: 25;
    top: -50px;


    .card-details-cover {
        height: 40px;
        text-align: end;
        padding: 8px;
    }

    .card-details-body {
        // padding: 30px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        .card-details-top {
            margin: 12px 40px 8px 56px;
            min-height: 32px;
            .card-details-title {
                font-family: Roboto;
                // margin-top: 1px;
                // margin-left: 10px;
                margin: 4px 0 0;
                padding: 8px 0 0;
                font-size: 20px;
                font-weight: 600;
                align-self: flex-start;
            }
            .card-details-list {
                margin: 0 0 8px;
                margin-bottom: 0;
                padding-bottom: 0;
                display: inline-block;
                margin: 4px 8px 4px 2px;
                color: #5e6c84;
                .list-fake-link {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .details-list-container {
            width: 100%;
            padding: 18px;
            .column-container {
                // width: 100%;
                width: 552px;
                float: left;
                margin: 0;
                // overflow-x: hidden;
                overflow-y: auto;
                min-height: 24px;
                padding: 0 8px 8px 16px;
            }
            .sidebar-container {
                padding: 0 16px 8px 8px;
                width: 168px;
                float: right;
                // width: 100%;
            }
        }
    }

    .card-details-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 4px;
        background-color: rgba(9, 30, 66, 0.04);
        border: 0;
        border-radius: 3px;
        padding: 6px 12px;
        width: 9rem;
        height: 30px;
        overflow: hidden;
        font-family: Roboto;
        font-weight: 400;
        color: #42526e;
        max-width: 300px;
        overflow: hidden;
        .props-icon {
            margin: 0px 6px 0 -6px;
            & svg {
                font-size: 1.2rem;
            }
        }
        .props-txt {
            line-height: 12px;
        }
    }

    .card-details-btn:hover {
        background-color: #e2e4e9;
    }

    .card-details-btn:focus {
        outline: none;
    }

    .card-details-btn-desc {
        border: 0px;
        background-color: #ebecef;
        resize: none;
        height: 40px;
    }
    .sidebar-title {
        margin-bottom: 10px;
        font-family: Roboto;
        font-weight: 600;
        padding-left: 6px;
    }

    .card-details-bottom {
        margin-top: 10px;
    }
}

.labels-txt {
    font-family: Roboto;
    margin: 0;
}

.card-label-preview:empty {
    display: inline;
    border: 0;
    border-radius: 3px;
    margin: 4px;
    width: 38px;
    height: 10px;
}
