.card-list{
    background: #ebecf0;
    flex-shrink: 0;
    width: 280px;
    height: fit-content;
    margin: 10px;
    margin-right: 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: $clr2
    
}