.card-details-container {
    background-color: #f4f5f7;
    padding: 30px;
    padding-top: 0;
    position: fixed;
    border-radius: 2px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    z-index: 1;
    height: 65%;
    overflow-y: auto;
}
.modal-bg {
    overflow-y: initial !important;
    position: fixed;
    background-color: rgba(51, 51, 51, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
}

.card-details-cover:empty {
    height: 30px;
}
.card-details-title {
    font-family: Roboto;
    margin-top: 1px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.card-details-btn {
    display: flex;
    align-items: center;
    margin: 4px;
    background-color: rgba(9, 30, 66, 0.04);
    border: 0;
    border-radius: 3px;
    padding: 6px 12px;
    width: 9rem;
    height: 30px;
    overflow: hidden;
    font-family: Roboto;
    font-weight: 400;
    color: #42526e;
    max-width: 300px;
    overflow: hidden;
    .props-icon {
        margin: 0px 6px 0 -6px;
        & svg {
            font-size: 1.2rem;
        }
    }
    .props-txt {
        line-height: 12px;
    }
}

.card-details-btn:hover {
    background-color: #e2e4e9;
}

.card-details-btn:focus {
    outline: none;
}

.card-details-btn-desc {
    border: 0px;
    background-color: #ebecef;
    resize: none;
    height: 40px;
}

.sidebar-title {
    margin-bottom: 10px;
    font-family: Roboto;
    font-weight: 600;
    padding-left: 6px;
}
// .card-details-btn-desc:focus {
//     background-color: #fff;
//     height: 100px;
// }

.card-label-preview:empty {
    display: inline;
    border: 0;
    border-radius: 3px;
    margin: 4px;
    width: 38px;
    height: 10px;
}

.cd-cmp {
    top: 1px;
    margin-top: 10px;

    .cd-subtitle-txt {
        padding-top: 2px;
        font-family: Roboto;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 600;
        margin-block-start: 0;
        margin-block-end: 10px;
        // line-height: 20px;
    }
}

.card-details-bottom {
    margin-top: 10px;
}
.labels-txt {
    font-family: Roboto;
    margin: 0;
}
