.activity-tbn-save{
    margin-top: 10px;
}

.card-desc-save-btn {
    background-color: #6ea952;
    border-radius: 3px;
    border: 0;
    color: #ebecef;
    font-size: 0.75em;
    padding: 7px;
    width: 4rem;
}