.card-list {
    background: #ebecf0;
    flex-shrink: 0;
    width: 280px;
    height: fit-content;
    margin: 10px;
    margin-right: 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: $clr2;
    position: relative;
   
    .stack-drop {
        min-height: 40px;
        overflow-y: scroll;
        max-height: 70vh;
       
        @include for-mobile-layout{
            max-height: 65vh;
        }
        &::-webkit-scrollbar-track {
            position: absolute;
            right: 0;
            background-color: transparent;
            border-radius: 3px;
        }

        &::-webkit-scrollbar {
            position: absolute;
            right: 0;
            width: 7px;
        }

        &::-webkit-scrollbar-thumb {
            position: absolute;
            right: 0;
            background-color: #b7bac6;
            border: none;
            border-radius: 3px;
        }
    }
}
