.header-wrapper {
    background-color: rgba(0,0,0,.32);
    display: flex;
    min-height: 40px;
    max-height: 40px;
    max-height: 40px;
    overflow: hidden;
    padding: 4px;
    align-content: center;
    z-index: 999;
    position: fixed;
    width: 100%;
    .header-left {
        display: flex;
        flex-grow: 1;
        flex-basis: 100%;
        & a{
            text-decoration: none;
        }
    }
    
    .logo-wrapper{
        color: white;
        height: 32px;
        line-height: 32px;
        text-decoration: none;
        align-items: center;
        background-color: hsla(0, 0%, 100%, 0);
        box-shadow: none;
        border: 0;
        display: flex;
        font-weight: 700;
        border-radius: 3px;
        margin: 0 4px 0 0;
        padding: 0;
        white-space: nowrap;
    }
    .logo {
        text-decoration: none;
        font-family: Pacifico, cursive;
       font-size: 1.3rem;
        color: white;
        cursor: pointer;
        display: inline-block;
        height: 30px;
        width: 80px;
        line-height: 25px;
        font-weight: 350;
        letter-spacing: 0.1em;
    }
    .header-btn {
        
        color: white;
        height: 32px;
        line-height: 32px;
        text-decoration: none;
        align-items: center;
        background-color: hsla(0, 0%, 100%, 0.3);
        box-shadow: none;
        border: 0;
        display: flex;
        font-weight: 700;
        border-radius: 3px;
        margin: 0 4px 0 0;
        padding: 0;
        white-space: nowrap;
        cursor: pointer;        
    }
    
    .header-home {
        display: inline-block;
        fill: inherit;
        flex-shrink: 0;
        line-height: 1;
        margin: 4px;
    }
    
    .header-icon {
        display: flex;
        width: 32px;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    
    .header-icon-word {
        overflow: hidden;
        padding: 0 8px 0 8px;
        max-width: 150px;
        font-size: 14px;
    }
    
    .header-input {
        background-color: hsla(0, 0%, 100%, 0.3);
        border-radius: 3px;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        color: hsla(0, 0%, 100%, 0.5);
        float: left;
        font-size: 13px;
        height: 32px;
        line-height: 19px;
        margin: 0;
        outline: none;
        padding-left: 8px;
        padding-right: 30px;
        transition: width 0.15s;
        width: 214px;
        align-items: center;
        @include for-mobile-layout{
            width: 0;
            padding-left: 0;
        }
        & input{
            background-color: rgba(255, 255, 255, 0);
            border: 0;
            @include for-mobile-layout{
                display: none;
            }
        }
    }
    
    .header-left-space {
        flex: 1;
    }
    
    .header-right {
        justify-content: flex-end;
        display: flex;
        flex-grow: 1;
        flex-basis: 100%;
        & a{
            text-decoration: none;
        }
        .header-avatar{
            margin: 2px;
        }
    }
    
    .header-username{
        display: flex;
        width: 32px;
        justify-content: center;
        align-items: center;
        margin: 0;
        border: 0;
        background-color: purple;
        color: white;
        height: 32px;
        line-height: 32px;
        border-radius: 50%;
    
    }
}

