.stack-preview-card {
    padding: 10px;
    .stack-title {
        cursor: pointer;
        padding: 10px;
        overflow-wrap: break-word;
        &:hover {
            .stack-preview-edit-icon,
            .stack-preview-delete-icon {
                opacity: 1;
            }
        }
    }
    .stack-title-words {
        font-family: Ubuntu;
        font-weight: 700;
        font-size: 1.2rem;
        margin-block-start: 0;
        margin-block-end: 0;
        // position: absolute;
    }
    .stack-preview-edit-icon,
    .stack-preview-delete-icon {
        opacity: 0;
        color: gray;
        font-size: 1.2rem;
    }

   
    .add-new-card {
        // padding: 10px;
        font-family: "Roboto";
        margin: 2px 0 8px 8px;
        padding: 4px 8px;
        position: relative;
        border-radius: 3px;
        color: #5e6c84;
        min-height: 38px;
        max-height: 38px;
        // z-index: -2;
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
            color: #172b4d;
            cursor: pointer;
        }
    }
    .add-icon {
        color: #6b778c;
        margin-right: 2px;
    }
}
