.stack-preview-card{
    padding: 10px;
}
.stack-title{
    cursor: pointer;
    padding: 10px;
    overflow-wrap: break-word;
    &:hover {
        .stack-preview-edit-icon,.stack-preview-delete-icon{
            opacity: 1;
        }
        
    }

}
.stack-preview-edit-icon,.stack-preview-delete-icon{
    opacity: 0;
    color: gray;
}


