.board-container {
    background-image: url(https://res.cloudinary.com/drak3llqt/image/upload/v1610553512/img1_uyzefw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 2rem;
    justify-content: flex-start;

    & h2 {
        margin-block-start: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: white;
        font-family: Roboto;
    }

    .stack-container{
        align-items: flex-start;
    }

    .add-new-stack{
        margin: 10px;
        & button{
            width: 272px;
            color: white;
            height: 32px;
            line-height: 32px;
            text-decoration: none;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: none;
            border: 0;
            display: flex;
            font-weight: 700;
            border-radius: 3px;
            /* margin: 0 4px 0 0; */
            padding: 0; 
            white-space: nowrap;
            cursor: pointer;
        }
        // padding: 10px;
    }

    .board-icon{
        display: flex;
        width: 32px;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
}
