.hero {
    height: 100vh;
    background: linear-gradient(135deg, #0079bf, #5067c5);
    .home-container {
       
        .home-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            @include for-mobile-layout{
                padding-top: 3rem;
            }
            .home-words {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 2.5rem;
                & h1 {
                    font-weight: 700;
                    font-size: 5rem;
                    font-family: Pacifico;
                    color: white;
                    padding: 1rem;
                    margin: 1rem;
                    @include for-mobile-layout {
                        font-size: 3rem;
                        padding: 0;
                        margin-left: 1rem;
                        margin-bottom: 0;
                    }
                }
                .p1 {
                    font-weight: 700;
                    font-size: 2rem;
                    font-family: Roboto;
                    padding: 2rem;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    color: white;
                    @include for-mobile-layout {
                        font-size: 1.2rem;
                        padding: 1rem;
                    }
                }
                .p2 {
                    font-weight: 400;
                    font-size: 2.5rem;
                    font-family: Caveat;
                    padding: 0;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    color: #a4a2a5;
                    margin-left: 1rem;
                    @include for-mobile-layout {
                        font-size: 1.75rem;
                    }
                }
            }
            .home-img {
                position: relative;
                width: 100%;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
                .cardly-img {
                    height: 300px;
                    vertical-align: middle;
                    border-style: none;
                }
            }
            .home-btn {
                font-family: Roboto;
                font-weight: 700;
                font-size: 2.5rem;
                cursor: pointer;
                padding: 1rem;
                border-radius: 5px;
                background-color: white;
                opacity: 0.95;
                margin-top: 3rem;
                outline: none;
                border-color: transparent;
                @include for-mobile-layout {
                    font-size: 1.5rem;
                    margin-top: 1.5rem;
                }
            }
        }
    }
    .home-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.32);
        // background-color: $clr1;
        display: flex;
        min-height: 40px;
        max-height: 40px;
        max-height: 40px;
        overflow: hidden;
        padding: 8px;
        align-items: center;
        color: white;
        font-family: Roboto;
        & a {
            text-decoration: none;
        }
    }
    .footer-p {
        margin-right: 1rem;
    }
}
