.home-page {
    background-color: white;
    background-image: url(../../imgs/cubes.png);
    height: 100vh;
    .home-title {
        font-weight: 700;
        font-size: 5rem;
        font-family: Pacifico;
        color: $clr1;
        padding: 1rem;
        margin: 1rem;
    }
    .home-slogan {
        font-weight: 700;
        font-size: 3rem;
        font-family: Caveat;
        padding: 1.5rem;
        margin-block-start: 0;
        margin-block-end: 0;
        color: rgba(0, 0, 0, 0.65);
    }
    .home-btn {
        font-family: Roboto;
        font-weight: 700;
        font-size: 2rem;
        cursor: pointer;
        // background-color: transparent;
        border: 3px solid $clr1;
        padding: 1rem;
        border-radius: 40px;
        margin-top: 0.8rem;
        background-color: lightgrey;
        opacity: 0.75;
    }

    .home-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $clr1;
        display: flex;
        min-height: 40px;
        max-height: 40px;
        max-height: 40px;
        overflow: hidden;
        padding: 4px;
     align-items: center;
     
        color: white;
        font-family: Roboto;
        & a{
            text-decoration: none;
        }
    }
    .footer-p{
        margin-right: 1rem;
    }
}
