.checklist {
    .checklist-add {
        color: #172b4d;
        font-size: 14px;
        height: 2rem;
        line-height: 20px;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 12px;
        margin: 5px;
        text-decoration: none;
        background-color: rgba(9, 30, 66, 0.04);
        border: none;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        margin-left: 30px;
        &:hover{
            background-color: rgba(9,30,66,.08);
            box-shadow: none;
            border: none;
        }
    }
    .cl-subtitle {
        display: flex;
        align-items: center;
        min-height: 32px;
        .checklist-icon {
            font-weight: 600;
        }
        .cl-inner-span {
            padding-left: 5px;
            width: 100%;
            .cl-subtitle-txt {
                margin: 6px 0;
            }
            .checklist-del-btn {
                font-size: 14px;
                height: 2rem;
                line-height: 20px;
                font-weight: 400;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                cursor: pointer;
                padding: 6px 12px;
                margin: 5px;
                text-decoration: none;
                background-color: rgba(9, 30, 66, 0.04);
                border: 0;
                transition-property: background-color, border-color, box-shadow;
                transition-duration: 85ms;
                transition-timing-function: ease;
                &:hover{
                    background-color: rgba(9,30,66,.08);
                    box-shadow: none;
                    border: none;
                }
            }
        }
    }
}

