.checklist {
    .checklist-add {
        font-size: 14px;
        height: 2rem;
        line-height: 20px;
        font-weight: 400;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 12px;
        margin: 5px;
        text-decoration: none;
        background-color: rgba(9, 30, 66, 0.04);
        border: none;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        margin-left: 20px;
        &:hover{
            background-color: rgba(9,30,66,.08);
            box-shadow: none;
            border: none;
        }
    }
    .cl-subtitle {
        display: flex;
        align-items: center;
        min-height: 32px;
        .checklist-icon {
            font-weight: 600;
        }
        .cl-inner-span {
            padding-left: 5px;
            width: 100%;
            .cl-subtitle-txt {
                margin: 6px 0;
            }
            .checklist-del-btn {
                font-size: 14px;
                height: 2rem;
                line-height: 20px;
                font-weight: 400;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                cursor: pointer;
                padding: 6px 12px;
                margin: 5px;
                text-decoration: none;
                background-color: rgba(9, 30, 66, 0.04);
                border: 0;
                transition-property: background-color, border-color, box-shadow;
                transition-duration: 85ms;
                transition-timing-function: ease;
                &:hover{
                    background-color: rgba(9,30,66,.08);
                    box-shadow: none;
                    border: none;
                }
            }
        }
    }
}

.todo-row {
    cursor: pointer;
    // background: #ebecef;
    margin: 5px;
    padding: 5px 5px 0 0;
    margin-left: 0;
    // padding-left: 0;
    border-radius: 3px;
    font-size: 16px;
    overflow-wrap: break-word;
    min-height: 18px;
    font-family: "Roboto";
    .todo-txt{
        padding-left: 3px;
    }

    .todo-delete-icon {
        opacity: 0;
        color: gray;
        font-size: 1rem;
    }
    &:hover {
        .todo-delete-icon {
            opacity: 1;
        }
    }
}
