.checklist-del-btn {
    font-size: 14px;
    // background-color: indianred;
    height: 2rem;
    line-height: 20px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    margin: 5px;
    text-decoration: none;
    background-color: rgba(9, 30, 66, 0.04);
    border: 0;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}

.cl-subtitle-txt{
    padding-top: 2px;
    font-family: Roboto;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 10px;
}

.todo-row {
    cursor: pointer;
    background: #ebecef;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    overflow-wrap: break-word;
    min-height: 18px;
    font-family: "Roboto";

    .todo-delete-icon {
        opacity: 0;
        color: gray;
        font-size: 1rem;
    }
    &:hover {
        .todo-delete-icon {
            opacity: 1;
        }
    }
}
