.todo-done{
    text-decoration: line-through;
    color: gray;
}
.todo-row{
    cursor: pointer;
    // background: #ebecef;
    padding: 5px 5px 0 0;
    margin-left: 0;
    // padding-left: 0;
    border-radius: 3px;
    font-size: 16px;
    overflow-wrap: break-word;
    min-height: 18px;
    font-family: "Roboto";

    .todo-input{
        border-radius: 2px;
        height: 16px;
        width: 16px;
        overflow: hidden;
        white-space: nowrap;
        transition: all .2s ease-in-out;
        background-color: #fafbfc;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        top: 5px;
        left: 0;
        margin: 6px;
        text-align: center;
        cursor: pointer;
    }

    .todo-txt{
        padding-left: 3px;
        
    }

    .todo-delete-icon {
        opacity: 0;
        color: gray;
        font-size: 1rem;
    }
    &:hover {
        .todo-delete-icon {
            opacity: 1;
        }
    }
}